<h1>Liros Cadastrados</h1>

<div class="books-container">
    <a href="/">Adicionar livro</a>
    {{#each books}}    
    <div>
        #{{this.id}} - <span class="bold"> {{this.title}}</span> -{{this.pageqty}} páginas
    </div>
    {{/each}}

</div>