<h1>Ol치 Handlebars!</h1>
<p>O nome do usu치rio e패: {{ user.name }} {{user.surname}} e ele tem {{user.age}} anos  </p>

{{#if auth}}
<p>Seja bem vindo {{user.name}}</p>
<p>Voce deve se autenticar,<a href="/dashboard">Clique aqui</a> para ver esta p치gina</p>
{{/if}}